# Address Configuration

ADDRESS=example.com 
PORT_ADDRESS=443
SSL=false

# ------------------------------

# Marzban Configuration

P_USER=admin
P_PASS=admin

# ------------------------------

# App Configuration

# By default: each proxy can only handle 1 client.
MAX_ALLOW_USERS=1

# By default: 5 minutes
BAN_TIME=5 

# ------------------------------

# Advanced Configuration

# By default: every 1 second
FETCH_INTERVAL_LOGS_WS=1

# By default: every 4 minutes
CHECK_INACTIVE_USERS_DURATION=4

# By default: every 1 minutes
CHECK_IPS_FOR_UNBAN_USERS=1

SSH_PORT=22